/**************************************************************************************************
* Tabs CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * tab holder
 */
.tabHolder {padding-top:8px;
	border-bottom:0px solid #FBCB09;
}
.tabHolder:after {content:".";display:block;line-height:0px;font-size:1px;clear:both;}

/**
 * tab list holder (ul)
 */
.tabListHolder {padding:0px 5px;}
.tabList {font-weight:bold;}

/**
 * overriden from bootstrap
 */
.nav > li > a > img {}
.nav-tabs > li {}
.nav-tabs > li > a {margin-right:1px;padding:8px 12px;transition:all .3s;
	color:#1C94C4;
	border:1px solid #CCCCCC;
	background:#F6F6F6 url("/shared/resource/css/jquery-ui/theme003/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li > a:hover {cursor:pointer;transition:all .3s;
	color:#C77405;
	border:1px solid #FBCB09;
	background:#FDF5CE url("/shared/resource/css/jquery-ui/theme003/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.active > a {cursor:pointer;
	color:#C77405;
	border-top:1px solid #FBCB09;
	border-left:1px solid #FBCB09;
	border-right:1px solid #FBCB09;
	background-color:#FFFFFF;
	background-image:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {cursor:pointer;
	color:#C77405;
	border-top:1px solid #FBCB09;
	border-left:1px solid #FBCB09;
	border-right:1px solid #FBCB09;
	background-color:#FFFFFF;
	background-image:none;
}

.nav > li.disabled > a {opacity:0.6;}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {opacity:0.6;
	border:1px solid #CCCCCC;
	background:#F6F6F6 url("/shared/resource/css/jquery-ui/theme003/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.disabled.active > a {opacity:0.6;}
.nav-tabs > li.disabled.active > a, .nav-tabs > li.disabled.active > a:hover, .nav-tabs > li.disabled.active > a:focus {opacity:0.6;cursor:not-allowed;
	color:#C77405;
	border-top:1px solid #FBCB09;
	border-left:1px solid #FBCB09;
	border-right:1px solid #FBCB09;
	border-bottom:0px solid #FBCB09;
	background-color:#FFFFFF;
	background-image:none;
}