<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--EoMenu DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.EoMenu.EoMenuHDaoImpl" id="eoMenuDao" init-method="init" name="eoMenuDao" parent="baseHDao" scope="prototype"/>
    <!--EoMenuAuthLink DAO-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.EoMenuAuthLink.EoMenuAuthLinkHDaoImpl" id="eoMenuAuthLinkDao" init-method="init" name="eoMenuAuthLinkDao" parent="baseHDao" scope="prototype"/>
</beans>
