<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--/* SysMenu DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysMenu.SysMenuHDaoImpl" id="sysMenuDao" init-method="init" name="sysMenuDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysCommonCode DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysCommonCode.SysCommonCodeHDaoImpl" id="sysCommonCodeDao" init-method="init" name="sysCommonCodeDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysBoard DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysBoard.SysBoardHDaoImpl" id="sysBoardDao" init-method="init" name="sysBoardDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysBoardFile DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysBoardFile.SysBoardFileHDaoImpl" id="sysBoardFileDao" init-method="init" name="sysBoardFileDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysMenuAuthLink DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysMenuAuthLink.SysMenuAuthLinkHDaoImpl" id="sysMenuAuthLinkDao" init-method="init" name="sysMenuAuthLinkDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysUser DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysUser.SysUserHDaoImpl" id="sysUserDao" init-method="init" name="sysUserDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysAuthGroup DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysAuthGroup.SysAuthGroupHDaoImpl" id="sysAuthGroupDao" init-method="init" name="sysAuthGroupDao" parent="baseHDao" scope="prototype"/>
    <!--/* SysCountryCurrency DAO */-->
    <bean class="${name.package.project}.conf.resource.ormapper.dao.SysCountryCurrency.SysCountryCurrencyHDaoImpl" id="sysCountryCurrencyDao" init-method="init" name="sysCountryCurrencyDao" parent="baseHDao" scope="prototype"/>
</beans>