<?xml version="1.0" encoding="UTF-8"?>
<Server port="8007" shutdown="SHUTDOWN">
	<Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
	<Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

	<GlobalNamingResources>
		<Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
	</GlobalNamingResources>

	<Service name="Catalina">
		<Connector connectionTimeout="20000" port="8893" protocol="HTTP/1.1" redirectPort="8445"/>
		<Connector port="8013" protocol="AJP/1.3" redirectPort="8445"/>

		<Engine defaultHost="localhost" name="Catalina">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
			</Realm>

			<Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="entityonline_access_log" suffix=".txt"/>

				<Context docBase="C:/myworkspace/entityonline/target/entityonline" path="" reloadable="true">
					<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory" maxIdle="30" maxTotal="100" name="jdbc/perciJndi" username="PERCI_0109" password="welcome1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@10.14.35.41:1521:TEST"/>
<!-- 					<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory" maxIdle="30" maxTotal="100" name="jdbc/perciJndi" username="PERCI" password="WELCOME1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@entipx-ora2:1521:PROD"/> -->
				</Context>

<!-- 				<Context docBase="C:/myworkspace/entityonline/target/entityonline.war" path="" reloadable="true"> -->
<!-- 					<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory" maxIdle="30" maxTotal="100" name="jdbc/perciJndi" username="PERCI" password="WELCOME1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@entipx-ora2:1521:PROD"/> -->
<!-- 				</Context> -->
			</Host>
		</Engine>
	</Service>
</Server>