/**************************************************************************************************
* Header CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Header Layout
 */
#divHeaderLeft {float:left;width:0%;display:none;}
#divHeaderRight {float:right;width:0%;display:none;}
#divHeaderCenter {float:left;width:100%;
	color:#FFFFFF;
}

/**
 * Layout - Header Center
 */
#divGlobalMenuHeaderGroup {padding:6px 10px;
	background:#191919;
}
#divGlobalMenuHeaderGroup:after {content:"";display:block;line-height:0px;clear:both;}

#divMainMenuHeaderGroup {
	background:#429BDD;
}
#divMainMenuHeaderGroup:after {content:"";display:block;line-height:0px;clear:both;}

/**
 * Global Menu Layout
 */
#divGlobalMenuLeft {float:left;}
#divGlobalMenuRight {float:right;}
#divGlobalMenuRight div {float:left;}

/**
 * Global Menu - Left(Logo)
 */
#divLogoArea {font-size:1.0em;font-weight:bold;cursor:pointer;text-shadow:2px 2px 2px rgba(255, 255, 255, 0.9);}
#divLogoArea a, #divLogoArea a:link, #divLogoArea a:visited {text-decoration:none;
	color:#FFFFFF;
}
#divLogoArea a:hover {text-decoration:none;
	color:#FFE633;
}
#aLogoFramework {padding:6px 0px 6px 24px;
	font-size:0.8em;
	background:url('/shared/resource/image/icon/logo-gear_Black.png') no-repeat 0% 50%;
}
#aLogo {padding:6px 0px 8px 100px;
	background:url('/shared/resource/image/icon/logoPerci.png') no-repeat 0% 0%;
	background-size:64px 30px;
}

/**
 * Global Menu - Right(Global menu items)
 */
#divGblMenuArea {}
.headerGblMenus {float:right;font-size:0.9em;font-weight:bold;cursor:pointer;text-shadow:1px 1px 2px rgba(255, 255, 255, 0.9);margin-top:2px;
	color:#FFFFFF;
}
.headerGblMenus a, .headerGblMenus a:link, .headerGblMenus a:visited {text-decoration:none;
	color:#FFFFFF;
}
.headerGblMenus a:hover {text-decoration:none;
	color:#FFE633;
}
.divGblMenuBreak {margin:0px 10px;float:right;height:12px;font-size:1px;
	border-left:2px solid #FFFFFF;
	background-color:#ffffff;
}
#aThemeSelector {padding:6px 0px 6px 20px;
	background:url('/shared/resource/image/icon/themeSelector.png') no-repeat 0% 50%;
}
#aFrameworkMenu {padding:6px 0px 6px 20px;
	background:url('/shared/resource/image/icon/frameworkMenu.png') no-repeat 0% 50%;
}

/**
 * Main menu Layout
 */
#divMainMenuAreaLeft {float:left;}
#divMainMenuAreaRight {float:right;display:inline-block;text-align:right;}

/**
 * Main menu - Left - Menu items(ul)
 */
.headerMainMenus {float:left;display:inline-block;padding:12px 18px;transition:background .2s;cursor:pointer;
	border-right:1px solid #191919;
	background:#429BDD;
}
.headerMainMenus:hover {
	background:#79B7E7;
}
.headerMainMenusSelected {float:left;display:inline-block;padding:12px 18px;transition:background .2s;cursor:pointer;
	border-right:1px solid #191919;
	background:#79B7E7;
}
.headerMainMenus a, .headerMainMenus a:hover, .headerMainMenus a:link, .headerMainMenus a:visited,
.headerMainMenusSelected a, .headerMainMenusSelected a:hover, .headerMainMenusSelected a:link, .headerMainMenusSelected a:visited {padding:0px 0px 0px 25px;font-size:1.1em;text-decoration:none;
	color:#ffffff;
}
/**
 * Main menu - Right - User loggedin(ul)
 */
#divLoggedInUser, #divQuickMenu {float:left;
	border-left:1px solid #191919;
	border-right:0px solid #191919;
}
#aLoggedInUser {
	background:url('/shared/resource/image/theme/theme002/common/icnUser-loggedIn_White.png') no-repeat 0px 0px
}
#divLoggedInUser.selected {
	background-color:#79B7E7;
}