/**************************************************************************************************
* Tabs CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * tab holder
 */
.tabHolder {padding-top:8px;
	border-bottom:0px solid #C5DBEC;
}
.tabHolder:after {content:".";display:block;line-height:0px;font-size:1px;clear:both;}

/**
 * tab list holder (ul)
 */
.tabListHolder {padding:0px 5px;}
.tabList {font-weight:bold;}

/**
 * overriden from bootstrap
 */
.nav > li > a > img {}
.nav-tabs > li {}
.nav-tabs > li > a {margin-right:1px;padding:8px 12px;transition:all .3s;
	color:#2E6E9E;
	border:1px solid #C5DBEC;
	background:#DFEFFC url("/shared/resource/css/jquery-ui/theme002/images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li > a:hover {cursor:pointer;transition:all .3s;
	color:#1D5987;
	border:1px solid #79B7E7;
	background:#D0E5F5 url("/shared/resource/css/jquery-ui/theme002/images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.active > a {cursor:pointer;
	color:#1D5987;
	border-top:1px solid #79B7E7;
	border-left:1px solid #79B7E7;
	border-right:1px solid #79B7E7;
	background-color:#FFFFFF;
	background-image:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {cursor:pointer;
	color:#1D5987;
	border-top:1px solid #79B7E7;
	border-left:1px solid #79B7E7;
	border-right:1px solid #79B7E7;
	background-color:#FFFFFF;
	background-image:none;
}

.nav > li.disabled > a {opacity:0.6;}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {opacity:0.6;
	border:1px solid #C5DBEC;
	background:#DFEFFC url("/shared/resource/css/jquery-ui/theme002/images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.disabled.active > a {opacity:0.6;}
.nav-tabs > li.disabled.active > a, .nav-tabs > li.disabled.active > a:hover, .nav-tabs > li.disabled.active > a:focus {opacity:0.6;cursor:not-allowed;
	color:#1D5987;
	border-top:1px solid #79B7E7;
	border-left:1px solid #79B7E7;
	border-right:1px solid #79B7E7;
	border-bottom:0px solid #79B7E7;
	background-color:#FFFFFF;
	background-image:none;
}