<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="menuManager" name="menuManager" class="${name.package.project}.common.module.menu.MenuManager" parent="baseBiz">
		<property name="eoMenuDao" ref="eoMenuDao"/>
		<property name="eoMenuAuthLinkDao" ref="eoMenuAuthLinkDao"/>
	</bean>

	<!--/* Auto Completion */-->
	<bean id="autoCompletionAction" name="autoCompletionAction" class="${name.package.project}.common.module.autocompletion.AutoCompletionAction"/>
	<bean id="autoCompletionBiz" name="autoCompletionBiz" class="${name.package.project}.common.module.autocompletion.AutoCompletionBizImpl" parent="baseBiz"/>

	<!--/* Common Service */-->
	<bean id="comServiceAction" name="comServiceAction" class="${name.package.project}.common.module.comservice.ComServiceAction"/>
	<bean id="comServiceBiz" name="comServiceBiz" class="${name.package.project}.common.module.comservice.ComServiceBizImpl" parent="baseBiz"/>

	<!--/* Biz Logic Service */-->
	<bean id="webServiceClientBizService" name="webServiceClientBizService" class="${name.package.project}.common.module.bizservice.webserviceclient.WebServiceClientBizServiceImpl" parent="baseBiz"/>
</beans>