<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="employeeLeaveAction" name="employeeLeaveAction" class="${name.package.projectApp}.leave.LeaveAction"/>
	<bean id="employeeLeaveBiz" name="employeeLeaveBiz" class="${name.package.projectApp}.leave.LeaveBizImpl" parent="baseBiz"/>

	<bean id="employeeLeaveAdmAction" name="employeeLeaveAdmAction" class="${name.package.projectApp}.leaveadm.LeaveAdmAction"/>
	<bean id="employeeLeaveAdmBiz" name="employeeLeaveAdmBiz" class="${name.package.projectApp}.leaveadm.LeaveAdmBizImpl" parent="baseBiz"/>

	<bean id="employeeExpenseAction" name="employeeExpenseAction" class="${name.package.projectApp}.expense.ExpenseAction"/>
	<bean id="employeeExpenseBiz" name="employeeExpenseBiz" class="${name.package.projectApp}.expense.ExpenseBizImpl" parent="baseBiz"/>
</beans>