/**************************************************************************************************
* Tabs CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * tab holder
 */
.tabHolder {padding-top:8px;}
.tabHolder:after {content:".";display:block;line-height:0px;font-size:1px;clear:both;}

/**
 * tab list holder (ul)
 */
.tabListHolder {padding:0px 5px;
	border-bottom:1px solid #CCCCCC;
}
.tabList {font-weight:bold;}

/**
 * overriden from bootstrap
 */
.nav > li > a > img {}
.nav-tabs > li {}
.nav-tabs > li > a {margin-right:1px;padding:8px 12px;transition:all .3s;
	color:#555555;
	border:1px solid #CCCCCC;
	background:#E6E6E6 url("/shared/resource/css/jquery-ui/theme001/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li > a:hover {cursor:pointer;transition:all .3s;
	color:#212121;
	border:1px solid #AAAAAA;
	background:#DADADA url("/shared/resource/css/jquery-ui/theme001/images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.active > a {cursor:pointer;
	color:#212121;
	border-top:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	background-color:#FFFFFF;
	background-image:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {cursor:pointer;
	color:#212121;
	border-top:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	background-color:#FFFFFF;
	background-image:none;
}

.nav > li.disabled > a {opacity:0.6;}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {opacity:0.6;
	border:1px solid #CCCCCC;
	background:#E6E6E6 url("/shared/resource/css/jquery-ui/theme001/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
.nav-tabs > li.disabled.active > a {opacity:0.6;}
.nav-tabs > li.disabled.active > a, .nav-tabs > li.disabled.active > a:hover, .nav-tabs > li.disabled.active > a:focus {opacity:0.6;cursor:not-allowed;
	color:#212121;
	border-top:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	border-bottom:0px solid #AAAAAA;
	background-color:#FFFFFF;
	background-image:none;
}