<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<aop:aspectj-autoproxy/>

	<bean id="loggingAdvice" class="${name.package.framework}.aop.LoggingAdvice" />
	<bean id="exceptionLoggingAdvice" class="${name.package.framework}.aop.ExceptionLoggingAdvice" />

	<aop:config>
		<aop:pointcut id="loggingPointcut" expression="execution(* ${name.package.project}..*Biz.*(..)) or execution(* ${name.package.project}..*Dao.*(..)) or execution(* ${name.package.framework}..*Biz.*(..)) or execution(* ${name.package.framework}..*Dao.*(..))" />
		<aop:aspect id="loggingAspect" ref="loggingAdvice">
			<aop:around pointcut-ref="loggingPointcut" method="executeLogging" />
		</aop:aspect>
	</aop:config>
	<aop:config>
		<aop:pointcut id="exceptionLoggingPointcut" expression="execution(* ${name.package.project}..*Biz.*(..)) or execution(* ${name.package.project}..*Dao.*(..)) or execution(* ${name.package.framework}..*Biz.*(..)) or execution(* ${name.package.framework}..*Dao.*(..))" />
		<aop:aspect id="exceptionLoggingAspect" ref="exceptionLoggingAdvice">
			<aop:after-throwing throwing="exception" pointcut-ref="exceptionLoggingPointcut" method="executeLogging"/>
		</aop:aspect>
	</aop:config>

	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* ${name.package.project}..*Biz.*(..)) or execution(* ${name.package.project}..*Dao.*(..)) or execution(* ${name.package.framework}..*Biz.*(..)) or execution(* ${name.package.framework}..*Dao.*(..))" />
		<aop:advisor advice-ref="txAdviceForHibernate" pointcut-ref="txPointcut"/>
	</aop:config>

	<tx:advice id="txAdviceForHibernate" transaction-manager="txManagerForHibernate">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="select*" read-only="true"/>
			<tx:method name="save*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
			<tx:method name="exe*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
			<tx:method name="do*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
			<tx:method name="insert*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
			<tx:method name="update*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
			<tx:method name="delete*" propagation="REQUIRED" timeout="600" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>
</beans>